/* Общие стили */
.logoName {
    position: relative;
    width: 85px;
    height: 30px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #101010;
    border: none;
    background-color: #EAEAEA;
    cursor: pointer;
    align-self: center;
    text-decoration-line: none;
}

.navbar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 1110px;
    height: 60px;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.svgCont {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .logoName {
        font-size: 20px;
        line-height: 25px;
    }

    .navbar {
        height: 50px;
        padding: 0 10px;
    }

    .svgCont {
        gap: 10px;
    }
}