/* Общие стили */
.logoName {
    position: relative;
    width: 85px;
    height: 30px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #101010;
}

.footer {

    width: 100%;
    max-width: 1110px;
    max-height: 150px;
    border-radius: 30px 30px 0 0;
    background-color: #FFF;
    box-shadow: 0 0 20px 0 #0000001A;
    overflow-y: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 30px auto 0;

}

.wrapper {
    top: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.socialNetLinks {
    display: flex;
    max-height: 30px;
    align-items: center;
    gap: 10px;
}

.langChooseCont {
    display: flex;
    gap: 5px;
}

.servAndLangCont {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

button {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    background-color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.buttonActive {
    color: #FFA542;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .footer {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        max-height: none;
        border-radius: 15px 15px 0 0;
        position: relative;
        top: 0;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    .links {
        align-items: center;
    }

    .socialNetLinks {
        justify-content: center;
    }

    .langChooseCont {
        justify-content: center;
    }

    .servAndLangCont {
        gap: 20px;
        align-items: center;
    }

    button {
        font-size: 14px;
    }
}